{{> Header }}

<div class="contentPage">
    <div><p class="title">{{content.props.title}}</p></div>
    <img class="bigContentPoster" src="{{content.props.contentPoster}}">
    <div class="movieInfo">
    </div>
</div>

{{> Footer }}
