{{> Header }}


<form class="main" method="POST" action="{{ path 'content' }}" id="content-form">
    <div class="formItem">
        <label id="title" class="title" style="font-size:300%" for="content">Movie/TV name</label>
        <h3 class="title" style="font-size: 150%" id="content">{{error}}</h3>
        <input class="inputBoxes" type="content" name="content"/>
    </div>
    <input class="formButton" type="submit" value="Search" id="content-form-submit-button">
</form>

{{> Footer }}