{{> Header }}

<div class="main">
    <h1 class="title">movie matchers</h1>
    <h5 class="slogan">THE BEST PLACE TO TRACK AND PICK MOVIES</h5>
</div>

{{> Footer }}

<link rel="stylesheet" href="{{ styles 'style.css' }}">