{{> Header }}

<div class="movies">
    {{#each movie}}
        <a href="" class="movie">
            <img class="moviePoster" src="{{this.props.moviePoster}}">
            <p class="movieTitle">{{this.props.title}}</p>
        </a>
    {{/each}}
</div>

{{> Footer }}
